* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  box-shadow: 2px 2px 8px 2px rgba(190, 187, 187, 0.304);
  min-height: 60vh;
  min-width: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
}

h1,
a {
  text-align: center;
}

.container form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 30vh;
}

input {
  padding: 10px;
  border-radius: 5px;
}

button {
  padding: 10px;
  border-radius: 5px;
  font-size: 24px;
  text-transform: capitalize;
  margin-top: 10px;
  background-color: blue;
  color: white;
}

button:hover {
  cursor: pointer;
  background-color: yellow;
  color: black;
}

label {
  font-size: 24px;
  text-transform: capitalize;
}

a {
  font-size: 24px;
  text-transform: capitalize;
}

h1 {
  font-size: 36px;
  text-transform: capitalize;
}
