* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

article {
  box-shadow: 2px 2px 8px 2px rgba(202, 202, 207, 0.281);
  padding: 40px 60px;
  background-color: rgb(188, 196, 196);
  border-radius: 5px;
}

.card {
  width: 250px;
  box-shadow: 2px 2px 8px 2px rgba(255, 0, 0, 0.166);
  background-color: white;
  border-radius: 5px;
}

.data {
  padding: 24px;
}

.data h3 {
  text-transform: capitalize;
  margin-top: -20px;
  color: palevioletred;
}

.data h1 {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bolder;
  margin: 8px 0px;
}

.data p {
  font-size: 18px;
  text-transform: capitalize;
}

.para {
  position: relative;
  left: 80px;
  bottom: 20px;
  text-decoration: line-through;
  color: pink;
}

.data button {
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  background-color: blue;
  text-transform: capitalize;
  color: white;
}

.data button:hover {
  cursor: pointer;
}
