/* pesudo elements does not comes under universal selectors */
/* they are not part of DOM elements */
/* they are just part of elements used to style specific part of elements */
/* *::after{
margin:0;
padding:0;
} */

* {
  margin: 0;
  padding: 0;
}

/* by default box-sizing:content-box:480px+0 padding + 0 border= 480px of while secction */
section {
  width: 480px;
  background-color: blue;
  /* color: red; */
  text-transform: capitalize;
}

/* currentcolor will take the color value of current div */
/* color is inherited property */
/* if we not mention color in current div it will check if Parent div has color property if yes it will apply */
/* example if we dont mention in article it will take from section color:red */
/* if parent dont have color property it will check till html root element and will stop  browser default color of html is: black */
/* text-transform is inherited from parent */
/* refer to chatgpt for inherited css propertys */

article {
  width: 50%;
  color: red;
  border: 5px solid currentColor;
  padding: 0px 16px;
  margin: 0px 24px;
  box-sizing: border-box;
}
