* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

article {
  box-shadow: 2px 2px 8px 2px rgba(187, 180, 180, 0.407);
  border-radius: 5px;
  background-color: rgb(181, 190, 190);
  padding: 20px 40px;
}

.card {
  width: 250px;
  box-shadow: 2px 2px 8px 2px rgba(179, 46, 46, 0.407);
  border-radius: 5px;
  min-height: 250px;
  background-color: white;
  overflow: hidden;
}

.data {
  padding: 10px;
}

.data h1 {
  text-transform: capitalize;
  font-size: 20px;
}

.data span {
  margin-left: 40px;
}

.data p {
  text-transform: capitalize;
  margin: 10px 0px;
  width: 200px;
  word-break: break-all;
}

.data button {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 5px;
  border-radius: 5px;
  text-transform: capitalize;
}
